main#checkout {
  width: 100%;
  position: relative;
  padding: 3em 1em;
}
@media only screen and (max-width: 767px) {
  main#checkout {
    font-size: 1em;
  }
}
@media only screen and (min-width: 768px) {
  main#checkout {
    font-size: 1.7vw;
    padding: 5em 0;
  }
}
@media only screen and (min-width: 1024px) {
  main#checkout {
    font-size: inherit;
  }
}
main#checkout .container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 60em;
  margin: 0 auto 1em;
}
main#checkout .container h2.section-title {
  font-size: 1.5em;
  line-height: 1.2;
  margin-bottom: 0.8em;
  font-weight: bold;
}
@media only screen and (max-width: 768px) {
  main#checkout .container h2.section-title {
    font-size: 1.5em;
  }
}
main#checkout .container h3.form-section-title {
  font-size: 1em;
  line-height: 1.2;
  margin-bottom: 0.75em;
}
@media only screen and (max-width: 768px) {
  main#checkout .container h3.form-section-title {
    font-size: 1.25em;
  }
}
main#checkout .container .card-container-wrap {
  width: 100%;
  max-width: 40em;
}
@media only screen and (max-width: 479px) {
  main#checkout .container .card-container-wrap {
    max-width: 100%;
  }
}
main#checkout .container .card-container-wrap #payment-form {
  padding: 2em;
  box-shadow: var(--box-shadow);
  border-radius: 1em;
}
@media only screen and (max-width: 767px) {
  main#checkout .container .card-container-wrap #payment-form {
    padding: 1em;
  }
}
main#checkout .container .card-container-wrap #payment-form .form-flex {
  display: flex;
  gap: 1em;
}
main#checkout .container .card-container-wrap #payment-form .form-control {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  margin-bottom: 1em;
}
main#checkout .container .card-container-wrap #payment-form .form-control.no-margin {
  margin-bottom: 0;
}
main#checkout .container .card-container-wrap #payment-form .form-control label {
  color: #202020;
  font-size: 0.8em;
  margin-bottom: 0.2em;
}
@media only screen and (max-width: 767px) {
  main#checkout .container .card-container-wrap #payment-form .form-control label {
    font-size: 17px;
  }
}
main#checkout .container .card-container-wrap #payment-form .form-control input[type='text'],
main#checkout .container .card-container-wrap #payment-form .form-control input[type='number'],
main#checkout .container .card-container-wrap #payment-form .form-control input[type='email'],
main#checkout .container .card-container-wrap #payment-form .form-control input[type='tel'],
main#checkout .container .card-container-wrap #payment-form .form-control select {
  padding: 0.7em;
  color: #202020;
  position: relative;
  width: 100%;
  display: block;
  font-size: 0.8em;
  font-family: inherit;
  caret-color: black;
  border-radius: 0.25em;
  border: 2px solid transparent;
  transition: border-color 0.33s ease;
  background-color: #f5f7f9;
}
@media only screen and (max-width: 600px) {
  main#checkout .container .card-container-wrap #payment-form .form-control input[type='text'],
  main#checkout .container .card-container-wrap #payment-form .form-control input[type='number'],
  main#checkout .container .card-container-wrap #payment-form .form-control input[type='email'],
  main#checkout .container .card-container-wrap #payment-form .form-control input[type='tel'],
  main#checkout .container .card-container-wrap #payment-form .form-control select {
    font-size: 16px;
  }
}
main#checkout .container .card-container-wrap #payment-form .form-control input[type='text']::placeholder,
main#checkout .container .card-container-wrap #payment-form .form-control input[type='number']::placeholder,
main#checkout .container .card-container-wrap #payment-form .form-control input[type='email']::placeholder,
main#checkout .container .card-container-wrap #payment-form .form-control input[type='tel']::placeholder,
main#checkout .container .card-container-wrap #payment-form .form-control select::placeholder {
  color: rgba(0, 0, 0, 0.4);
  font-weight: 400;
}
main#checkout .container .card-container-wrap #payment-form .form-control input[type='text']:focus,
main#checkout .container .card-container-wrap #payment-form .form-control input[type='number']:focus,
main#checkout .container .card-container-wrap #payment-form .form-control input[type='email']:focus,
main#checkout .container .card-container-wrap #payment-form .form-control input[type='tel']:focus,
main#checkout .container .card-container-wrap #payment-form .form-control select:focus,
main#checkout .container .card-container-wrap #payment-form .form-control input[type='text']:active,
main#checkout .container .card-container-wrap #payment-form .form-control input[type='number']:active,
main#checkout .container .card-container-wrap #payment-form .form-control input[type='email']:active,
main#checkout .container .card-container-wrap #payment-form .form-control input[type='tel']:active,
main#checkout .container .card-container-wrap #payment-form .form-control select:active {
  outline: none;
  border: 2px solid #4D90FE;
}
main#checkout .container .card-container-wrap #payment-form .form-control input[type='text']:disabled,
main#checkout .container .card-container-wrap #payment-form .form-control input[type='number']:disabled,
main#checkout .container .card-container-wrap #payment-form .form-control input[type='email']:disabled,
main#checkout .container .card-container-wrap #payment-form .form-control input[type='tel']:disabled,
main#checkout .container .card-container-wrap #payment-form .form-control select:disabled {
  background-color: #e9ecef;
  pointer-events: none;
}
main#checkout .container .card-container-wrap #payment-form .form-control .combo {
  display: block;
  width: 100%;
  position: relative;
  font-size: 0.8em;
}
@media only screen and (max-width: 600px) {
  main#checkout .container .card-container-wrap #payment-form .form-control .combo {
    font-size: 16px;
  }
}
main#checkout .container .card-container-wrap #payment-form .form-control .combo-input {
  background-color: #f5f7f9;
  border-radius: 0.25em;
  display: block;
  padding: 0.7em;
  text-align: left;
  width: 100%;
  background-image: url(/down.svg);
  background-position: right 0.75em center;
  background-repeat: no-repeat;
  background-size: 0.875em;
  transition: border-color 0.33s ease;
  outline: none;
  border: 2px solid transparent;
}
main#checkout .container .card-container-wrap #payment-form .form-control .combo-input:focus,
main#checkout .container .card-container-wrap #payment-form .form-control .combo-input:active {
  outline: none;
  border: 2px solid #4D90FE;
}
main#checkout .container .card-container-wrap #payment-form .form-control .open .combo-input {
  border-radius: 0.25em 0.25em 0 0;
}
main#checkout .container .card-container-wrap #payment-form .form-control .combo-menu {
  background-color: #f5f5f5;
  border: 1px solid #202020;
  border-radius: 0;
  border-top: 0;
  display: none;
  max-height: 15em;
  overflow-y: scroll;
  left: 0;
  position: absolute;
  top: 100%;
  width: 100%;
  z-index: 100;
}
main#checkout .container .card-container-wrap #payment-form .form-control .open .combo-menu {
  display: block;
}
main#checkout .container .card-container-wrap #payment-form .form-control .combo-option {
  padding: 0.7em;
}
main#checkout .container .card-container-wrap #payment-form .form-control .combo-option:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
main#checkout .container .card-container-wrap #payment-form .form-control .combo-option.option-current {
  background-color: #fff;
}
main#checkout .container .card-container-wrap #payment-form .form-control .combo-option[aria-selected="true"] {
  padding-right: 30px;
  position: relative;
}
main#checkout .container .card-container-wrap #payment-form #card-btn {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
  border: 0;
  font: inherit;
  color: white;
  background-color: #202020;
  font-size: 0.65em;
  text-transform: uppercase;
  transition: background-color 0.33s ease;
}
@media only screen and (max-width: 600px) {
  main#checkout .container .card-container-wrap #payment-form #card-btn {
    font-size: 13px;
  }
}
main#checkout .container .card-container-wrap #payment-form #card-btn:hover,
main#checkout .container .card-container-wrap #payment-form #card-btn:focus,
main#checkout .container .card-container-wrap #payment-form #card-btn:active {
  background-color: var(--primary-color);
}
